{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}EMSE Plateforme{% endblock %}</title>
    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Ma plateforme d'annonces</h1>
      <p>
        Ce projet est propulsé par Symfony3
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://sensiolabs.com/fr">
          Les fondateurs »
        </a>
      </p>
    </div>

    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Les annonces</h3>
        <ul class="list-group">
          <li class="list-group-item"><a href="{{ path('emse_platform_home') }}">Accueil</a></li>
          <li class="list-group-item"><a href="{{ path('emse_platform_add') }}">Ajouter une annonce</a></li>

        </ul>

        <h4>Dernières annonces</h4>
        {#{{ render(controller("EMSEPlatformBundle:Advert:menu", {'limit': 3})) }}#}
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>EMSE © {{ 'now'|date('Y') }} en avant !.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  {% endblock %}

  </body>
</html>
